<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col-6">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <p>Id: {{pokemon.id}}</p>
                        <p>Name: {{pokemon.name}}</p>
                        <p>Type: {{pokemon.type}}</p>
                        <p>Height: {{pokemon.height}}</p>
                        <p>Weight: {{pokemon.weight}}</p>
                    </div>
                    <div class="col"><img src="{{pokemon.image}}" style="height:100%; width:100%;"></div>
                </div>
            </div>
            
        </div>
    </div>
</div>
