<div>

  <div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
          <h1>Search Pokemon</h1>
          <form>
            <div class="form-group">
              <label for="name">Pokemon Name</label>
              <input type="text" class="form-control" id="name" required [(ngModel)]="searchName" name="name">
            </div>
        
            <button type="submit" class="btn btn-default" (click)="searchPokemon()">Submit</button>
        
          </form>
        </div>
     </div>
  </div>


  <div *ngFor="let pok of this.pokemons">
    <app-pokemon [pokemon]="pok"></app-pokemon>
  </div>

  <div class="justify-content-center align-items-center">

      
  </div>

</div>
